* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  font-family: "Open Sans",
  sans-serif; 
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  height: 100%;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

main {
  height: 100%;
  width: 100%;
}

nav,
footer {
  padding: 0% 0;
  background-color: #aaa;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

p.profile {
  margin-right: 20px;
}

p.signOut {
  margin-left: 20px;
}

header {
  padding: 12% 0;
}

section {
  width: 100%;
  min-height: 525px;
  padding: 6% 0;
  background-color: #bbb;
}

section.searchPage {
  display: block;
}

section.searchResults {
  height: 100%;
  overflow-y: auto;
  padding: 2% 0;
}

section:nth-child(even) {
  background-color: #ddd;
}

form.searchForm {
  position: relative;
  top: 40px;
}

.platformHolder {
  display: flex;
  height: 200px;
  width: 300px;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 25px;
  margin-left: calc(50% - 150px);
}
 
#nameInputLabel {
  position: relative;
  top: 15px;
}

#nameInput {
  position: relative;
  top: 15px;
}

input[type="checkbox"] {
  position: relative;
  top: 20px;
  left: 30px;
}

div.resultItem {
  border: 1px solid black;
  display: inline-block;
  height: 200px;
  width: 275px;
  margin-bottom: 45px;
}

@media only screen and (min-width: 1080px) {
  div.platformHolder {
    flex-direction: row;
    width: 1200px;
    height: 100px;
    margin-top: 50px;
    margin-left: calc(50% - 600px);
  }

  form.searchForm {
    top: -20px;
  }

  section.searchPage {
    min-height: 0;
    height: 250px;
  }

  div.searchResultHolder {
    display: grid;
    grid-template-columns: 40% 40% 40%;
  }

  div.resultItem {
    margin-right: 7%;
    margin-left: 7%;
  }
}